body {
    font-family: sans-serif;
    font-size: 1.5rem;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

button[type="submit"] {
    padding: 10px 20px;
    margin: 1em;
    width: 13em;
    height: 8rem;
    font-size: 40px;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}

.deselected {
    background-color: #fff7e6;
    width: 10rem;
    height: 3rem;  
    text-align: center;
    display: inline-block;
    margin: 1rem;
}
.selected {
    background-color: #b37a00;
    width: 10rem;
    height: 3rem;  
    text-align: center;
    display: inline-block;
    margin: 1rem;
}
.outcomeArea {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    text-align: center;
    padding: 2em;
    top: 5%;
}
.wagerAmountArea {
    align-items: center;
    justify-content: center;
    height: 8em;
    position: absolute;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
}

.choiceArea {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
.gameArea {
    align-items: center;
    justify-content: center;
    height: 20em;
    padding: 10em;
    padding-top: 15em;
}

/*classes for vue animations*/
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
