html {
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    background-color: #222;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

button[type="submit"] {
    padding: 10px 20px;
    margin: 1em;
    width: 13em;
    height: 8rem;
    font-size: 40px;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}

.landing-page{
    /* The image used */
    background-image: url(./landing-page-1.png);

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.deselected {
    background-color: #fff7e6;
    width: 10rem;
    height: 3rem;  
    text-align: center;
    display: inline-block;
    margin: 1rem;
}
.selected {
    background-color: #b37a00;
    width: 10rem;
    height: 3rem;  
    text-align: center;
    display: inline-block;
    margin: 1rem;
}
.outcomeArea {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    text-align: center;
    padding: 2em;
    top: 5%;
}
.wagerAmountArea {
    align-items: center;
    justify-content: center;
    height: 8em;
    position: absolute;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
}

.choiceArea {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
.gameArea {
    align-items: center;
    justify-content: center;
    height: 20em;
    padding: 10em;
    padding-top: 15em;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
